.order-success,
.order-error{
    padding: 0;
    padding-bottom: 112px;
    text-align: center;
    margin: auto;
}

.order-success p,
.order-error p{
    padding: 8px;
}
.order-success .success-lottie{
    height: 200px;
}
.order-success a{
    color: var(--secondary-color);
    transition: ease-in-out ;
}

.order-success a:hover{
    font-weight: bold;
}

.order-error a {
    color: rgb(219, 130, 130);
    transition: ease-in-out ;
}
.order-error a:hover{
    font-weight: bold;
}

.order-error .error-lottie{
    height: 200px;
}

/*Carrinho Vazio Animação*/

.empty{
    height: 200px;
}

/*MEUS PEDIDOS*/

.container{
    --status-open: rgb(5, 154, 199); 
    --status-sold:rgb(8, 211, 35);
    --status-canceled: rgb(214, 35, 35);
}


.orders .item-container{
    display: grid;
    grid-template-columns: 1fr 80px 150px 100px 100px;
    gap: 24px;
    align-items: center;
    color: #444;
    padding: 16px 0;
    text-align: center;
}

.orders .item-container:hover{
    background-color: #eee;
}

.orders .item{
    display: flex;
}
.orders img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #fefefe;
    box-shadow: 2px 2px 4px -4px black;
    margin: 0 16px;
}

.orders .item div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.item .title,
.item .price,
.item .updated-at{
    color:#555;
    margin-bottom: 4px;
    text-align: left;
}
.item .updated-at{
    margin-top: auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300px;
    font-style: italic;
}

.item .price,
.orders .total{
    font-weight: bold;
}

.orders .status{
    justify-self: center;
    color: white;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.orders .status.open{
    background-color: var(--status-open);
}

.orders .status.sold{
    background-color: var(--status-sold);
}

.orders .status.canceled{
    background-color:  var(--status-canceled);
}

/*DETALHES DO PEDIDO*/

.order-detail{
    max-width: 700px;
}

.order-detail .info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 16px;
    gap: 16px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.order-detail .info h4{
    color: var(--primary-color);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
}

.order-detail .info .status{
    text-align:right ;
}

.order-detail .info .status p{
    color: #777;
    font-style: italic;
    font-size: 12px;
}

.order-detail .info .status.open h2{
    color:  var(--status-open);
}

.order-detail .info .status.sold h2{
    color:  var(--status-sold);
}

.order-detail .info .status.canceled h2{
    color:  var(--status-canceled);
}

.order-detail .product{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 16px 0;
    margin-bottom: 16px;
}

.order-detail img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 16px;
    border-radius: 8px;
}

.order-detail .price{
    color: #555;
    font-weight: bold;
    text-align: right;
    flex: 1;
}

.order-detail .quantity{
    font-weight: bold;
    font-size: 16px;
}

.order-detail .total{
    color: red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
}

.order-detail .total span{
    font-size:14px ;
    font-weight: 500px;
    margin-right: 8px;
}

