{% macro products (name, classes , products) %}

<section class="shop {{classes}}">
    
    {% if name %}
        <h2>{{name}}</h2>
    {% endif %}

    <div class="items">
        {% for product in products %}
            <div class="product">
                <div class="image-card">
                    <img src="{{product.files[0].src}}" alt="">
                </div>

                {% if product.formattedOldPrice != product.formattedPrice %}
                    <div class="old-price">{{product.formattedOldPrice}}</div>
                {% endif %}
                
                <h4>{{product.name}}</h4>
                <p>{{product.formattedPrice}}</p> 

                <a href="/products/{{product.id}}" class="button">Mais Informações</a>
            </div>
        {% endfor %}
    </div>
</section>

{% endmacro %}